<%- include('include/header',{sesCookies:cookies}); %>

            <!-- Body Container -->
            <div id="page-content" class="mb-0">
                <!--Home Slideshow-->
                <section class="slideshow slideshow-wrapper">
                    <div class="home-slideshow slick-arrow-dots rounded-dots circle-arrow">
                        <div class="slide">
                            <div class="slideshow-wrap " >
                                <picture>
                                    <source media="(max-width:767px)" srcset="assets/images/slideshow/demo4-again2.png" width="1000" height="990">
                                    <img class="blur-up lazyload" src="assets/images/slideshow/demo4-again2.png" alt="slideshow" title="" width="1920" height="990"/>
                                </picture>
                                <div class="container">
                                    <div class="slideshow-content slideshow-overlay middle-right ">
                                        <div class="slideshow-content-in">
                                            <div class="wrap-caption animation style1 whiteText ">
                                                <h2 class="ss-mysmall-title ss-small-title  " >Unlock Your Financial Potential with  <br>Consumerlaw Blueprint</h2>
                                                <p class="ss-sub-title">Guiding Individuals and Families towards <br>  Financial Freedom.</p>
                                                <div class="ss-btnWrap">
                                                    <a style="background-color: #29ace4;" class="btn btn-primary"  href="/sign-up">Join us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="slide">
                            <div class="slideshow-wrap">
                                <picture>
                                    <source media="(max-width:767px)" srcset="assets/images/slideshow/demo4-banner2.png" width="1000" height="990">
                                    <img class="blur-up lazyload" src="assets/images/slideshow/demo4-banner2.png" alt="slideshow" title="" width="1920" height="990" />
                                </picture>
                                <div class="container">
                                    <div class="slideshow-content slideshow-overlay middle-left">
                                        <div class="slideshow-content-in">
                                            <div class="wrap-caption animation style1 whiteText">
                                                <h2 class="ss-mysmall-title ss-small-title">Explore What Our Shop<br>Offers</h2>
                                                <p class="ss-sub-title">Infinite Package of  <span class="text-primary fw-bold">Digital </span>Products</p>
                                                <div class="ss-btnWrap">
                                                    <a style="background-color: #29ace4;" class="btn btn-primary" href="shop-grid-view.html">Shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Home Slideshow-->

                <!-- Service section -->
                <!-- Free shopping start-->
                <div class="container Delivery">
                    <div class="service-info separate-line mdt-0 g-3 g-md-3 row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
                        <div class="service-wrap d-flex-center justify-content-sm-center flex-nowrap py-lg-1 mb-2 mb-sm-3 mb-md-0">   
                            <div class="service-icon d-flex align-items-center">
                                <i class="icon anm anm-truck-l"></i>
                            </div>
                            <div class="service-content ms-3">
                                <h6 class="head-font">Digital Delivery with Free Revert Policy</h6>
                                <p class="text-muted">Digital Delivery to your registred mail</p>
                            </div>
                        </div>
                        <div class="service-wrap d-flex-center justify-content-sm-center flex-nowrap py-lg-1 mb-2 mb-sm-3 mb-md-0">  
                            <div class="service-icon d-flex align-items-center">
                                <i class="icon anm anm-credit-card-l"></i>
                            </div>
                            <div class="service-content ms-3">
                                <h6 class="head-font">Professional Support</h6>
                                <p class="text-muted">We're there when you need us! 24/7</p>
                            </div>
                        </div>
                        <div class="service-wrap d-flex-center justify-content-sm-center flex-nowrap py-lg-1 mb-0 mb-sm-0 mb-md-0"> 
                            <div class="service-icon d-flex align-items-center">
                                <i class="icon anm anm-dollar-sign-l"></i>
                            </div>
                            <div class="service-content ms-3">
                                <h6 class="head-font">Money Back Guarantee</h6>
                                <p class="text-muted">If goods have problems</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Free shopping end -->

                <section class="service-section mt-m6 section-clr" style="margin: 15px 0 0 0;">
                    
                    <div class="destination-section section pt-0" style="background-color: rgb(134, 11, 11); color: aliceblue; width: 100%;">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-6 col-md-7">
                                    <div class="about-details px-50 py-5">
                                        <p class=" fs-6 mb-3" style="color: aliceblue;" >Standard Works</p>
                                        <h2  style="color: aliceblue;  " class="red" >Consumerlaw Blueprint is where Financial Dreams Become Reality for Individuals and Families, Empowering You for a Stronger Financial Future.</h2>
                                        
                                        <!-- <a href="shop-right-sidebar.html" class="btn btn-lg mt-md-2">Explore Now</a> -->
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-5">
                                    <div class="about-details px-50 py-5">
                                        <!-- <p class="text-muted fs-6 mb-3">Standard Works</p> -->
                                        <!-- <h2 class="fs-4 mb-4">Largest Online Fashion destination</h2> -->
                                        <p style="font-size: large;">Our mission is helping individuals and families take control of their financial future and we are committed to providing you with personalized solutions to improve your credit score and financial well-being, thereby helping 
                                            you achieve your financial goals.</p>
                                        
                                        <!-- <a href="shop-right-sidebar.html" class="btn btn-lg mt-md-2">Explore Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </section>
                <!-- End Service section -->

                <!--Products Slider-->
                <section class="section product-banner-slider">
                    <div class="container">
                        <div class="section-header style2 d-flex-center justify-content-sm-between">
                            <div class="section-header-left text-start">
                                <h2>Dispute Letters</h2>
                                <p>Infinite Package of Digital Products</p>
                            </div>
                            <div class="section-header-right text-start text-sm-end mt-3 mt-sm-0">
                                <a href="shop-left-sidebar.html" class="btn btn-primary">View More <i class="icon anm anm-arw-right ms-2"></i></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-4 mb-lg-0">
                                <div class="ctg-bnr-wrap one position-relative h-100">
                                    <div class="ctg-image ratio ratio-1x1 h-100">
                                        <img class="blur-up lazyload" data-src="assets/images/longhome.png" src="assets/images/longhome.png" alt="collection" width="390" height="483" />
                                    </div>
                                    <div class="ctg-content text-white d-flex-justify-center flex-nowrap flex-column h-100">                                
                                        <h2 class="ctg-title text-white m-0"><span class="d-block">ConsumerLaw</span> Blueprint</h2>                                        
                                        <p class="ctg-des mt-3 mb-4">Offering packages that align with your life plan.</p>
                                        <a class="btn btn-secondary explore-btn" href="/dispute-letters">Explore Now <i class="icon anm anm-arw-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-9">                         
                                <div class="grid-products product-slider-3items gp15 arwOut5 hov-arrow circle-arrow arrowlr-0">                                   
                                    <% package.slice(0,15).forEach(function(items, index){ %>
                                        <div class="item col-item">
                                            <div class="product-box">
                                                <!-- Start Product Image -->
                                                <div class="product-image">
                                                    <!-- Start Product Image -->
                                                    <a href="product-layout1.html" class="product-img">
                                                        <!-- Image -->
                                                        <img class="primary blur-up lazyload" data-src="assets/images/letter/<%= items.packageUrl%>.png" src="assets/images/letter/<%= items.packageUrl%>.png" alt="Product" title="Product" width="625" height="625" />
                                                        <!-- End Image -->
                                                        <!-- Hover Image -->
                                                        <img class="hover blur-up lazyload" data-src="assets/images/letter/<%= items.packageUrl%>.png" src="assets/images/letter/<%= items.packageUrl%>.png" alt="Product" title="Product" width="625" height="625" />
                                                        <!-- End Hover Image -->
                                                    </a>
                                                    <!-- End Product Image -->
                                                    <!-- Product label -->
                                                    <div class="product-labels radius"><span class="lbl pr-label3">Popular</span></div>
                                                    <!-- End Product label -->
                                                    <!--Product Button-->
                                                    
                                                    <!--End Product Button-->
                                                </div>
                                                <!-- End Product Image -->
                                                <!-- Start Product Details -->
                                                <div class="product-details text-left">
                                                    <!--Product Vendor-->
                                                    <div class="product-vendor">Most Bought</div>
                                                    <!--End Product Vendor-->
                                                    <!-- Product Name -->
                                                    <div class="product-name">
                                                        <a href="product-layout1.html"><%= items.packageName%></a>
                                                    </div>
                                                    <!-- End Product Name -->
                                                    <!-- Product Price -->
                                                    <div class="product-price">
                                                        <span class="price">$<%= items.price+".00"%></span>
                                                    </div>
                                                    <!-- End Product Price -->
                                                    <!-- Product Review -->
                                                    <div class="product-review">
                                                        <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                        <span class="caption hidden ms-1">10 Reviews</span>
                                                    </div>
                                                    <!-- End Product Review -->
                                                    <!-- Product Button -->
                                                    <div class="button-action">
                                                        <div class="addtocart-btn">
                                                            <form class="addtocart" action="#" method="post">
                                                                <a href="add-to-cart/<%= items.id%>/home" class="btn btn-secondary ">
                                                                    <i class="icon anm anm-basket-l me-2"></i><span class="text">Add to Cart</span>
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- BUTTON WITH POP UP DEACTIVAE  -->
                                                    <!-- div class="button-action">
                                                        <div class="addtocart-btn">
                                                            <form class="addtocart" action="#" method="post">
                                                                <a href="add-to-cart/<%= items.id%>/cart" class="btn btn-secondary addtocart add-to-cart-modal" data-bs-toggle="modal" data-bs-target="#addtocart_modal">
                                                                    <i class="icon anm anm-basket-l me-2"></i><span class="text">Add to Cart</span>
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div> -->
                                                    <!-- End Product Button -->
                                                </div>
                                                <!-- End product details -->
                                            </div>
                                        </div>

                                        
                                                
                                    <% }) %>                                           
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Products Slider-->
                <!--Testimonial Section-->
                <section class="section testimonial-slider style1 pb-0">
                    <div class="container">
                        <div class="section-header">
                            <p class="mb-2 mt-0" style="font-size: 20px;">What will you learn at</p>
                            <h2>CONSUMERLAW BLUEPRINT LLC</h2>
                        </div>
                        <div class="img-responsive">
                            <p style="font-size: 18px;" class="homerun">At Consumerlaw Blueprint we will Teach you the Secrets To Repairing, Restoring & Rebuilding Your Credit using Consumer Laws.Our consulting company will teach you how to discover the real truth about credit & How to use consumer laws to change your Financial
                                Situation & position yourself to have the power to purchase.</p>
                                <!-- <h4 class="mb-3">Features</h4> -->
                                               <ul class="checkmark-info listme" >
                                                   <li>How to read a credit report</li>
                                                   <li>How to clean up personal information and delete old names and address</li>
                                                   <li>Learn how to Delete inquiries in 24hrs</li>
                                                   <li>Learn how to Delete Late Payments</li>
                                                   <li>Learn how to Delete Accounts from Identity theft </li>
                                                   <li>Learn how to Delete Collections</li>
                                               </ul>
                        </div>

                                            <hr>
                            <div>
                                <div class="row g-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-1 mb-4">
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/debt.png" src="assets/images/icons/debt.png" alt="icon" width="64" height="64" /> <br>
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Debt Management</h3>
                                                <p>We help you through the process of effectively managing and repaying debts to achieve financial stability and reduce financial 
                                                    burdens.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/education.png" src="assets/images/icons/education.png" alt="icon" width="64" height="64" />
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Credit Education</h3>
                                                <p>We educate to empower individuals to make informed decisions, effectively manage their credit, and maintain a healthy 
                                                    financial profile.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/repair.png" src="assets/images/icons/repair.png" alt="icon" width="64" height="64" />
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Credit Repair</h3>
                                                <p>We improve their credit scores & repair their credit history by addressing errors, negotiating with creditors, & implementing strategies to 
                                                    rebuild creditworthiness</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-1 mb-4">
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/law.png" src="assets/images/icons/law.png" alt="icon" width="64" height="64" />
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Consumer Law</h3>
                                                <p>We ensure legal rules and regulations that protect individuals from unfair practices and ensure their rights when engaging in commercial 
                                                    transactions as consumers.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/dispute.png" src="assets/images/icons/dispute.png" alt="icon" width="64" height="64" />
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Dispute Resolution</h3>
                                                <p>We find a fair and satisfactory solution to conflicts or disagreements between parties without going to court.</p><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="counter-box">
                                        <div class="bg-block d-flex-center flex-nowrap">
                                            <img style="margin-right: 20px;" class="blur-up lazyload" data-src="assets/images/icons/fin.png" src="assets/images/icons/fin.png" alt="icon" width="64" height="64" />
                                            <div class="content">
                                                <h3 class="fs-5 mb-1 ">Financial Planning</h3>
                                                <p>We create a comprehensive strategy to manage and optimize one's finances, including setting goals, budgeting, saving, investing, and planning for future expenses and 
                                                    contingencies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                    </div>
                </section>
                <!--End Testimonial section-->

                <!--Shop By Category-->
               
                <!--End Shop By Category-->

                <!--Products Slider-->
                
                <!--End Products Slider-->

                <!--Collection banner-->
                <section class="section collection-banners two-one-bnr py-0">
                    <div class="container">                      
                        <div class="collection-banner-grid two-bnr">
                            <div class="row sp-row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 collection-banner-item">
                                    <div class="collection-item sp-col">
                                        <a href="/dispute-letters" class="zoom-scal clr-none">
                                            <div class="img">
                                                <img class="blur-up lazyload" data-src="assets/images/collection/man1.png" src="assets/images/collection/man1.png" alt="collection" title="" width="647" height="439" />
                                            </div>
                                            <div class="details bottom-center">
                                                <div class="inner text-center">
                                                    <h3 class="title">Available Now</h3>
                                                    <p class="subtitle">Latest Dispute Letters</p>
                                                    <span class="btn-brd fw-500 text-uppercase">Shop Now</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>                                
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 collection-banner-item">
                                    <div class="collection-item sp-col">
                                        <a href="/dispute-letters" class="zoom-scal clr-none">
                                            <div class="img">
                                                <img class="blur-up lazyload" data-src="assets/images/collection/man2.png" src="assets/images/collection/man2.png" alt="collection" title="" width="647" height="439" />
                                            </div>
                                            <div class="details bottom-center">
                                                <div class="inner text-center">
                                                    <h3 class="title">Loans & Child Support</h3>
                                                    <p class="subtitle">and so much more</p>
                                                    <span class="btn-brd fw-500 text-uppercase">Shop Now</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Collection banner-->

                 <!--Testimonial Section-->
                 <section class="section testimonial-slider style1 pb-0">
                    <div class="container">
                        <div class="section-header">
                            <p class="mb-2 mt-0">Happy Customer</p>
                            <h2>Testimonials</h2>
                        </div>

                        <div class="testimonial-wraper">
                            <!--Testimonial Slider Items-->
                            <div class="testimonial-slider-1items gp15 slick-arrow-dots arwOut5">
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="assets/images/icons/demo1-quote-icon.png" src="assets/images/icons/demo1-quote-icon.png" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>"Thanks to Consumers law blueprint my score has skyrocketed. They provided expert guidance and a tailored plan that helped me achieve my financial goal"</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i>
                                                <span class="caption hidden ms-1">_Michelle Stewart</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="assets/images/users/testimonial1-65x.jpg" src="assets/images/users/testimonial1-65x.jpg" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">_Michelle Stewart</h5>
                                                <p class="text-muted">Client </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">                                                     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="assets/images/icons/demo1-quote-icon.png" src="assets/images/icons/demo1-quote-icon.png" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Resources and tolls offered by Amee are invaluable. I've learned how to budget, invest and plan for retirement, all thanks to thier comprehensive financial literacy programs</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                <span class="caption hidden ms-1">15 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="assets/images/users/testimonial1-65x.jpg" src="assets/images/users/testimonial1-65x.jpg" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">Megan</h5>
                                                <p class="text-muted">Client/p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">                                                     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="assets/images/icons/demo1-quote-icon.png" src="assets/images/icons/demo1-quote-icon.png" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Thighly recommend Consumnerlaw thank you Lillian, for anyone looking to boost thier credit. They are trustworthy, transparent, and genuinely care about thier clients' success. </p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                <span class="caption hidden ms-1">17 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="assets/images/users/testimonial1-65x.jpg" src="assets/images/users/testimonial1-65x.jpg" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">Mr. Felder</h5>
                                                <p class="text-muted">Client</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                            <!--Testimonial Slider Items-->
                        </div>
                    </div>
                </section>
                <!--End Testimonial section-->
                <hr class="m-0">
                <!--Brand Logo-->
                <!-- <section class="section logo-section pb-0">
                    <div class="container">
                        <div class="section-header d-none">
                            <h2>Popular Brands</h2>
                            <p>Brand the way to a brighter day</p>
                        </div>

                        <div class="brands-list">
                            <div class="brands-row logo-bar logo-slider-6items gp10 arwOut5 hov-arrow circle-arrow">
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb"><img class="blur-up lazyload" src="assets/images/logo/brandlogo1.png" alt="Brand Logo" title="" width="200" height="100" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!--End Brand Logo-->
                <!--Newsletter Section-->
                <section class="section newsletter-section pb-0">
                    <div class="container-fluid p-0">
                        <div class="newsletter-wrap bg-size">
                            <img class="bg-img blur-up lazyload" data-src="assets/images/newsletter/bg.png" src="assets/images/newsletter/bg.png" alt="newsletter" width="1320" height="266" />
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                                <div class="section-header mb-3 mb-md-4">
                                                    <h2 class="text-white mb-2 mb-md-3">Get intouch with us</h2>
                                                    <!-- <p style="font-size: 18px;" class="text-white m-0">Financial well-being is a vital aspect of our lives, and we understand the challenges and complexities that individuals face in today's ever-changing landscape. That is why our team of experts is committed to providing you with the knowledge, tools, and support you need to make informed decisions and achieve 
                                                        your financial goals.</p> -->
                                                </div>                            
                                                <form class="newsletter-form" action="#" method="post">
                                                    <div class="d-flex flex-column flex-sm-row">
                                                        <input type="email" class="form-control newsletter-input mb-2 mb-sm-0 me-sm-2 border-0" name="email" value="" placeholder="Your email address.." required />
                                                        <button type="submit" class="btn btn-primary newsletter-submit mt-1 mt-sm-0 ms-sm-1" name="commit">Subscribes</button>
                                                    </div>
                                                </form>    
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Newsletter Section-->

                <%- include('include/footer'); %>